.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-nav-bar {
  display: flex;
  width: 100%;
  height: 80px;
  flex-wrap: wrap;
  /* background-color: blue; */
}

.header-nav-bar-left {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  /* background-color: blueviolet; */
}

.header-nav-bar-right {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
/*   background-color: violet;
 */}

.header-logo-holder {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  width: 100px;
  height: 50px;
  background-color:#FF0000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-logo-holder-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.header-nav-bar-right-list {
  display: flex;
  flex-wrap: wrap;
}

.header-nav-bar-right-list li {   
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-family: Roboto;
/*   background-color: teal;
 */  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: ease-in-out 0.8s;
  cursor: pointer;
}

.header-nav-bar-right-list li:hover {
  background-color: #ffffff;
  border-radius: 7px;
}

.header-nav-bar-right-list li img {
  width: 30px;
}

li:nth-child(5),li:nth-child(6) {
  width: 60px;
}

.header-slogan-container {
  min-width: 200px;
  min-height: 150px;
/*   background-color: teal; */  
  position: absolute;
  top: 400px;
  left: 300px;
}

.header-slogan-text {
  display: block;
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto;
  text-transform: uppercase;
}

.header-slogan-dot {
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto;
  color: #FF0000;
}

.header-slogan-text.subtext {
  margin-top: 10px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  text-transform: uppercase;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 40px;
  background-color: #FF0000;
  position: absolute;
  top: 600px;
  font-family: Roboto;
  text-transform: uppercase;
  left: 300px;
  padding: 10px 30px;
  font-weight: 700;
  color: white;
  border-radius: 7px;
  transition: ease-in-out 0.8s;
  transform: scale(0.96);
  cursor: pointer;
}

.header-button:hover {
  transform: scale(1.03);
}