.laptop-container {
  min-width: 400px;
}

.laptop-container svg {
  width: 100%;
}

.keyboard {
  animation: keyboard 3s ease-in-out;
}

/* .laptop {
  animation: laptop 3s ease-in-out;
} */

.extrabuttons {
  animation: extrabuttons 3s ease-in-out;
}



@keyframes keyboard {
  from {
    transform: translateY(30%);
  } 
  
  to {
    transform: translateY(0);
  } 
}

@keyframes laptop {
  from {
    transform: translateY(20%);
  } 
  
  to {
    transform: translateY(0);
  } 
}

@keyframes extrabuttons {
  from {
    transform: rotateZ(30deg);
  } 
  
  to {
    transform: rotateZ(0deg);
  } 
}