.portfolio-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  min-height: 300px;
  /* background-color: #F7F8FA; */
  /* background-color: beige; */
}

.portfolio-section-half {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 50%;
  /* background-color: blueviolet; */
}


.portfolio-section-half-right {
  max-width: 600px;
  height: 300px;
  /* background-color: chartreuse; */
  padding: 5px;
}

.portfolio-section-half-left-text {
  font-size: 18px;
  font-family: Roboto;
}

.laptop-container {
  width: 400px;
}

.laptop-container svg {
  width: 100%;
}

