.why-us {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 400px;
  flex-wrap: wrap;
}

.why-us-box {
  cursor: pointer;
  width: 300px;
  min-height: 200px;
  /* background-color: beige; */
  padding: 15px;
  box-sizing: border-box;
  transition: ease-in-out 0.8s;
}

.why-us-box:hover {
  background-color: #C7C7C7;
}

.why-us-box p {
  font-size: 18px;
  font-family: Roboto;
}
